
<div class="container">

  <div class="top">
    <h1 id="header">List of Cocktails</h1>

    <div>
      <%= link_to "Add a cocktail", new_cocktail_path, class: "btn btn-success" %>
    </div>
  </div>

  <div class="row">

    <% @cocktails.each do |cocktail| %>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <h3><%= cocktail.name %></h3>
        <%= cl_image_tag cocktail.photo, height: 300, width: 400, crop: :fit %>
        <br>
        <br>
        <p>
          <%= link_to "More details", cocktail_path(cocktail) %>
        </p>
      </div>

    <% end %>
  </div>

  <!-- <div class="row">
    <%= cl_image_tag("nzsjaa0himpvopo032vw",
      width: 400, height: 300, crop: :fill) %>
  </div> -->

</div>
