
<div class="container">
  <div class="row">
    <h2><%= @cocktail.name %></h2>
  </div>

  <div class="row">
    <%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fit %>
  </div>

  <div class="row">
    <ul>
      <% @cocktail.doses.each do |dose| %>
        <div class="dose">
          <li>Ingredient: <%= dose.ingredient.name %> | <%= dose.description %>
            <%= link_to "delete", dose_path(dose), class: "dose_delete",
              method: :delete,
              data: { confirm: "Are you sure?" } %>
          </li>
        </div>
      <% end %>
    </ul>
  </div>

  <div class="row">
    <%= link_to "Back to all cocktails", cocktails_path %>
    <br>
    <br>
    <%= link_to "Add dose", new_cocktail_dose_path(@cocktail) %>
  </div>
</div>
