
<div class="container">
  <div class="row col-xs-12">
    <h2><%= @cocktail.name %></h2>
  </div>

  <div class="row showpic">
    <%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fit %>
  </div>

  <div class="row">
    <ul>
      <% @cocktail.doses.each do |dose| %>
        <div class="dose">
          <li><%= dose.ingredient.name %> | <%= dose.description %>
          </li>
        </div>
      <% end %>
    </ul>
  </div>

  <div class="dose_bottom">
    <%= link_to "Add ingredient", new_cocktail_dose_path(@cocktail) %>
    <br>
    <br>
    <%= link_to "Back to cocktail list", cocktails_path %>
  </div>
</div>
